<script src="https://kit.fontawesome.com/7006f68f03.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
<header>
   <section class="header-pc">
       <a class="logo" href="">
           <img src="{{ url_for('static', filename='image/logo.png') }}">
       </a>
       <div class="nav-search">
           <nav>
           <ul>
               <a class="icon-text" href="">
                   <i class="fa fa-home"></i><p>Home</p>
               </a>
               <a class="icon-text" href="">
                   <i class="fa-solid fa-book"></i><p>Book</p>
               </a>
           </ul>
           <ul>
               <li class="icon-text">
                   <i class="fa-solid fa-globe"></i><p>Language</p>
               </li>
           </ul>
           </nav>
           <div class="search-bar">
           <input name="search-area" id="search-area" class="search-area" placeholder="Search book here">
           <div id="search-button" name="search-button" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></div>
           </div>
       </div>
       <a class="cart icon-text" href="">
           <i class="fa-solid fa-cart-shopping"></i><p>Shopping Cart</p>
       </a>
       <a class="profile icon-text" href="">
           <i class="fa-regular fa-circle-user"></i><p>User-Name</p>
       </a>
       <div class="icon-text language-mobile">
           <i class="fa-solid fa-globe"></i>
       </div>
   </section>

   <section class="header-mobile">
       <a href="" class="icon-text">
           <i class="fa fa-home nav-icon"></i><p class="nav-detail">Home</p>
       </a>
       <a href="" class="icon-text">
           <i class="fa fa-user nav-icon"></i><p class="nav-detail">Book</p>
       </a>
       <a href="" class="icon-text">
           <i class="fa fas fa-file-alt nav-icon"></i><p class="nav-detail">Shopping Cart</p>
       </a>
       <a href="" class="icon-text">
           <i class="fa-regular fa-circle-user"></i><p class="nav-detail">User-Name</p>
       </a>
   </section>
</header>