<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="https://kit.fontawesome.com/7006f68f03.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='product.css') }}">
   <title>Ebookstore</title>    
</head>

<body>

    {% include "header.html" %}

    <div class="nothing"></div>

    <main>
        <div class="product-container">
            <img class="product-image" src="{{ url_for('static', filename=product.Product_pict) }}" alt="{{ product.Name }}">


         <div class="product-details">
            <h1 class="product-title">{{ product.Name }}</h1>
            <p class="product-author">by {{ product.Author }}</p>
            <p class="product-price">${{ product.Price }}</p>

            <div class="product-meta">
               <div><strong>Category:</strong><span id="category"> {{ product.Category }}</span></div><br>
               <div><strong>Stock Quantity:</strong> <span id="stock">{{ product.Stock_quantity }}</span></div><br>
               <div><strong>Sales Count:</strong> <span id="sales">{{ product.Sale_count }}</span></div>
            </div>

            <p class="product-description">
                {{ product.Desc }}
            </p>


            <div class="actions">
               <button class="add-to-cart" onclick="addToCart()">Add to Cart</button>
               <button class="buy-now" onclick="buyNow()">Buy Now</button>
            </div>
         </div>
      </div>


      <div class="reviews">
         <h2>Customer Reviews</h2>
        <span>⭐⭐⭐⭐⭐</span>
  
      </div>
   </main>

   <div class="nothing2"></div>

   {% include "footer.html" %}

</body>

</html>
