{% extends '/staff/base_staff.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/discount_detail.css') }}">

<main>
        <div class="navbar-detail-container">
            <div class="left">
                <div class="bar-title">Staff Menu</div>
                <div class="bar-list">
                    <!-- order -->
                    <div class="bar-row">
                        <div id="bar-order" class="bar-center">
                            <a href="" target="_self">Order</a>
                        </div>
                    </div>
                    <hr>
                    <div class="bar-row">
                        <div id="bar-product" class="bar-center">
                            <a href="" target="_self">Product</a>
                        </div>
                    </div>
                    <hr>
                    <div class="bar-row">
                        <div id="bar-discount" class="bar-center">
                            <a href="" target="_self">Discount</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="discount-details">
                <div class="dtl-title">
                    <hr>
                    <h2>New Discount Details</h2>
                    <hr>
                </div>
                
                <div class="detail-item">
                    <span class="label-box">Discount Name</span>
                    <span class="value-box">{{ discount.Disc_name }}</span>
                </div>
                <div class="detail-item">
                    <span class="label-box">Discount Code</span>
                    <span class="value-box">{{ discount.Disc_code }}</span>
                </div>
                <div class="detail-item">
                    <span class="label-box">Policy Description</span>
                    <span class="value-box">{{ discount.Policy_desc }}</span>
                </div>
                <div class="detail-item">
                    <span class="label-box">Discount Type</span>
                    <span class="value-box">{{ discount.Disc_type }}</span>
                </div>
                <div class="detail-item">
                    <span class="label-box">Discount Value</span>
                    <span class="value-box">{{ discount.Disc_value }}</span>
                </div>
                {% if discount.Disc_type != 'Shipping' %}
                <div class="detail-item">
                    <span class="label-box">Valid To</span>
                    <span class="value-box">{{ details.Valid_to }}</span>
                    <div class="detail-item">
                        <span class="label-box">Valid From</span>
                        <span class="value-box">{{ details.Valid_from }}</span>
                    </div>
                    </div>
                {% endif %}
                {% if discount.Disc_type == 'Shipping' %}
                    <div class="detail-item">
                        <span class="label-box">Minimum Purchase</span>
                        <span class="value-box">{{ details.Min_purchase }}</span>
                    </div>
                {% endif %}
                <div class="detail-item">
                    <span class="label-box">Max Usage</span>
                    <span class="value-box">{{ discount.Max_usage }}</span>
                </div>
                <hr>
                <div class="buttons">
                        <div class="navbar-btn-detail">
                            <a href="/staff/discount" target="_self" class="btn-detail-button">
                                <div class="btn-detail-word">Back</div>
                            </a>
                        </div>
                        <div class="navbar-btn-detail">
                            <button type="button" id="delete" class="btn-detail-button">
                                <div class="btn-detail-word">Delete</div>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <form class="logout-modal-container delete-hidden" method="POST" action="{{ url_for('staff_discount_detail.delete',discount_id=discount_ID) }}">
            <div class="modal-content">
               <p>Are you sure you want to delete?</p>
               <div class="modal-button">
                  <input type="submit" id="confirm-delete" class="modal-btn" value="Yes"></input>
                  <div id="cancel-delete" class="modal-btn">No</div>
               </div>
            </div>
        </form>
        <script src="{{ url_for('static',filename='script/discount.js') }}"></script>

</main>
{% endblock %}