{% extends '/staff/base_staff.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/discount.css') }}">

<main>
    <div class="navbar-order-container">
        <div class="left">
            <div class="bar-title">Staff Menu</div>
            <div class="bar-list">
                <!-- order -->
                <div class="bar-row">
                    <div id="bar-order" class="bar-center">
                        <a href="/staff/order" target="_self">Order</a>
                    </div>
                </div>
                <hr>
                <div class="bar-row">
                    <div id="bar-product" class="bar-center">
                        <a href="" target="_self">Product</a>
                    </div>
                </div>
                <hr>
                <div class="bar-row">
                    <div id="bar-discount" class="bar-center">
                        <a href="/staff/discount" target="_self">Discount</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="list-subtabs">
                <a href="/staff/discount" class="subtab {% if active_route == 'discount' %}active{% else %}inactive{% endif %}">All</a>
                <a href="/staff/discount/shipping" class="subtab {% if active_route == 'shipping' %}active{% else %}inactive{% endif %}">Shipping</a>
                <a href="/staff/discount/seasoning" class="subtab {% if active_route == 'seasoning' %}active{% else %}inactive{% endif %}">Seasoning</a>
                <a href="/staff/discount/specialEvent" class="subtab {% if active_route == 'specialEvent' %}active{% else %}inactive{% endif %}">Special Event</a>
            </div>
            <hr>
            <div class="filter-box">
                <form action="{{ url_for('staff_discount.filter_by', current_path=request.path.replace('/findDiscount', ''))}}" method="POST" class="filter">
                    <div class="search-filter">
                        <div class="selected-filter" name="filter_field">
                            <span id="selectedText">Discount ID</span>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="option" id="dropdown">
                            <div class="option-filter" name="filter_field" style="display: none;">
                                <p value="discount_id" onclick="selectOption('Discount ID')" {% if filter_field == 'discount_id' %}selected{% endif %}>Discount ID</p>
                                <p value="discount_code" onclick="selectOption('Discount Code')" {% if filter_field == 'discount_code' %}selected{% endif %}>Discount Code</p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="filter_field" name="filter_field" value="discount_id">
                    <input type="text" id="user_input" name="user_input" value="{{ user_input }}" class ="filter-input"></input>
                    <button class="apply-button" type="submit">Apply</button>
                </form>
                <div class="filter">
                    <a href="/staff/discount/add" class="apply-button" type="submit">Add New</a>
                </div>
            </div>
            
            <div class="header-box">
                    <div class="discount-header">Discount ID</div>
                    <div class="discount-header">Discount Code</div>
                    <div class="discount-header">Discount Value</div>
                    <div class="discount-header">Discount Type</div>
            </div>
            <div class="scrollable-box">
                {% if all_items|length == 0 %}
                    <div class="no-result">No Result !</div>
                {% else %}
                    {% for discount in all_items %}
                        
                        <a href="{{url_for('staff_discount_detail.index', discount_id=discount.DID)}}">
                            <div class="content-list">
                                    <div class="list-box">
                                        <div class="detail-text">
                                            <h4>{{discount.DID}}</h4>
                                        </div>
                                        <div class="detail-text">
                                            <h4>{{discount.Disc_code}}</h4>
                                        </div>
                                        <div class="detail-text">
                                            <h4>{{discount.Disc_value}}%</h4>
                                        </div>
                                        <div class="detail-text">
                                            <h4>{{discount.Disc_type}}</h4>
                                        </div>
                                    </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script/discount_list.js') }}"></script>
</main>
{% endblock %}