<link rel="stylesheet" href="{{ url_for('static', filename='style/header_staff.css') }}">
<header>
    <nav class="navbar-container">
        <section class="navbar-top">

            <div class="pic-and-center">
                <a class="navbar-logo" href="/">
                    <img src="https://lh3.googleusercontent.com/d/1MAsxp8dde5_6AffSBvoZIR9wIylHzGos" alt="Bookstore Logo" class="logo">
                </a>
    
                <div class="navbar-center">
                    <a href="{{ url_for('staff_centre.index') }}" class="center-name">
                        <p>Staff Centre</p>
                    </a>
                </div>
            </div>
            
            <div class="icon-name category-mobile" onclick="display_left_menu()">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="navbar-icons">
                {% if role is not none and role == "Administrator" %}
                    <a href="{{ url_for('admin.finance_overview') }}" class="icon-name">
                        <i class="fa-solid fa-user-tie"></i><p>Admin</p>
                    </a>
                {% endif %}
                <a href="{{ url_for('user_profile.index') }}" class="icon-name">
                    <i class="fa-regular fa-circle-user"></i><p>Profile</p>
                </a>
            </div>
            <div class="icon-name language-mobile">
                <i class="fa-solid fa-globe"></i>
            </div>
        </section>
    </nav>
    <nav class="navbar-mobile">
        <a href="/" class="icon-name">
            <i class="fa fa-home nav-icon"></i><p>Home</p>
        </a>
        <a href="#" class="icon-name">
            <i class="fa-solid fa-book"></i><p>Book</p>
        </a>
        <a href="#" class="icon-name">
            <i class="fa-solid fa-cart-shopping"></i><p>Cart</p>
        </a>
        <a href="#" class="icon-name">
            <i class="fa-regular fa-circle-user"></i><p>Profile</p>
        </a>
    </nav>
    <nav class="navbar-side-mobile">
        <aside class="navbar-side-space" onclick="undisplay_left_menu()"></aside>
        <div class="navbar-side-category">
            <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Bookstore Logo" class="logo">
            <hr>
            <a href="#" class="category-name">Category 1</a>
            <a href="#" class="category-name">Category 2</a>
            <a href="#" class="category-name">Category 3</a>
            <a href="#" class="category-name">Category 4</a>
            <a href="#" class="category-name">Category 5</a>
            <a href="#" class="category-name">Category 6</a>
            <a href="#" class="category-name">Category 7</a>
            <a href="#" class="category-name">Category 8</a>
            <a href="#" class="category-name">Category 9</a>
            <a href="#" class="category-name">Category 10</a>
            <hr>
        </div>
    </nav>
</header>
<script src="{{ url_for('static', filename='script/header.js') }}"></script>