{% extends '/staff/base_staff.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/order.css') }}">

<main>
    <div class="navbar-order-container">
        <div class="left">
            <div class="bar-title">Staff Menu</div>
            <div class="bar-list">
                <!-- order -->
                <a href="/staff/order" target="_self" id="bar-order" class="bar-row selected-bar">
                    <span class="bar-center">Order</span>
                </a>
                <hr>
                <a href="/staff/product" target="_self" id="bar-product" class="bar-row">
                    <span class="bar-center">Product</span>
                </a>
                <hr>
                <a href="/staff/discount" target="_self" id="bar-discount" class="bar-row">
                    <span class="bar-center">Discount</span>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="order-list-subtabs">
                <a href="/staff/order" class="subtab {% if active_route == 'order' %}active{% else %}inactive{% endif %}">All</a>
                <a href="/staff/order/to_ship" class="subtab {% if active_route == 'to_ship' %}active{% else %}inactive{% endif %}">Need to be shipped</a>
                <a href="/staff/order/finished" class="subtab {% if active_route == 'finished' %}active{% else %}inactive{% endif %}">Finished</a>
                <a href="/staff/order/returned" class="subtab {% if active_route == 'returned' %}active{% else %}inactive{% endif %}">Returned/Cancel</a>
            </div>
            <hr>
            <form action="{{ url_for('staff_order.filter_by', current_path=request.path.replace('/findOrder', '')) }}" method="POST" class="filter">
                <div class="search-filter">
                    <div class="selected-filter" name="filter_field">
                        <span id="selectedText">Order ID</span>
                        <i class="fa fa-caret-down"></i>
                    </div>
                    <div class="option" id="dropdown">
                        <div class="option-filter" name="filter_field" style="display: none;">
                            <p value="order_id" onclick="selectOption('Order ID')" {% if filter_field == 'order_id' %}selected{% endif %}>Order ID</p>
                            <p value="product" onclick="selectOption('Product Name')" {% if filter_field == 'product' %}selected{% endif %}>Product Name</p>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="filter_field" name="filter_field" value="order_id">
                <input type="text" id="user_input" name="user_input" value="{{ user_input }}" class ="filter-input"></input>
                <button class="apply-button" type="submit">Apply</button>
            </form>
            <div class="scrollable-box">
                {% if all_items|length == 0 %}
                    <div class="no-result">No Result !</div>
                {% else %}
                    {% for order in all_items %}
                        <div class="list-header">
                            <div class="header-list-cid">
                                <span>Customer ID : {{order[0]['CMID']}}</span>
                            </div>
                            <div class="header-list-oid">
                                <span>Order ID : {{order[0]['OID']}}</span>
                            </div>
                        </div>
                        <a href="{{url_for('staff_order_detail.index', order_id=order[0]['OID'])}}">
                            <div class="content-list">
                                {% for item in order %}
                                    <div class="order-list-box">
                                            <div class="order-detail-pic">
                                                <img src="{{ item.Product_pict }}" alt="{{ hi }}" class="product-pic">
                                            </div>
                                            <div class="order-detail-name">
                                                <h4>{{item.Name}}</h4>
                                            </div>
                                            <div class="order-detail-text">
                                                <h4>{{item.Quantity}}</h4>
                                            </div>
                                            <div class="order-detail-text">
                                                <h4>${{item.Sum}}</h4>
                                            </div>
                                            <div class="order-detail-text">
                                                <h4>{{item.Status}}</h4>
                                            </div>
                                    </div>
                                    {% if loop.index < order|length %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script/order.js') }}"></script>
</main>
{% endblock %}