{% extends '/staff/base_staff.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/order.css') }}">

<main>
    <div class="navbar-order-container">
        <div class="left">
            <ul>
                <li>Finance</li>
                <li>Order</li>
                <li>Product</li>
                <li>Finance</li>
            </ul>
        </div>
        <div class="right">
            <div class="order-list-subtabs">
                <p class="subtab">All</p>
                <p class="subtab">Need to be shipped</p>
                <p class="subtab">Finished</p>
                <p class="subtab">Returned/Cancel</p>
            </div>
            <hr>
            <div class="filter">
                <button class="filter-choice">Order ID</button>
                <input class ="filter-input"></input>
                <button class="apply-button">Apply</button>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}