{% extends '/staff/base_staff.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/order.css') }}">

<main>
    <div class="navbar-order-container">
        <div class="left">
            <div class="bar-title">Staff Menu</div>
            <div class="bar-list">
                <!-- order -->
                <div class="bar-row">
                    <div id="bar-order" class="bar-center">
                        <a href="" target="_self">Order</a>
                    </div>
                </div>
                <hr>
                <div class="bar-row">
                    <div id="bar-product" class="bar-center">
                        <a href="" target="_self">Product</a>
                    </div>
                </div>
                <hr>
                <div class="bar-row">
                    <div id="bar-discount" class="bar-center">
                        <a href="" target="_self">Discount</a>
                    </div>
                </div>
            </div>
            <!-- <ul>
                <li>Finance</li>
                <li>Order</li>
                <li>Product</li>
                <li>Finance</li>
            </ul> -->
        </div>
        <div class="right">
            <div class="order-list-subtabs">
                <p class="subtab">All</p>
                <p class="subtab">Need to be shipped</p>
                <p class="subtab">Finished</p>
                <p class="subtab">Returned/Cancel</p>
            </div>
            <hr>
            <div class="filter">
                <button class="filter-choice">Order ID</button>
                <input class ="filter-input"></input>
                <button class="apply-button">Apply</button>
            </div>
        </div>
    </div>
    
</main>
{% endblock %}