{% extends '/user/base_user.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user_discount.css') }}">
<main>
   {% include "/user/user_profile_menu.html" %}
   <div class="all-container">
      <section class="section-container discount-header hidden-animation">
         <a href="javascript:void(0);" class="header-title checked translate" onclick="showDiscounts('available')">Available</a><hr>
         <a href="javascript:void(0);" class="header-title translate" onclick="showDiscounts('used')">Used</a><hr>
         <a href="javascript:void(0);" class="header-title translate" onclick="showDiscounts('expired')">Expired</a>
      </section>
      <section class="section-container discounts hidden-animation">
         <div class="sub-title">
            <hr><h2 class="translate">Discount</h2><hr>
         </div>
            <div id="available" class="discount-list">
               {% for discount in available %}
                  <div class="discount-item">
                     <div class="discount-value">
                        {{ ((1 - discount.Disc_value | float) * 100) | round(2) }}%
                     </div>
                     <hr>
                     <div class="discount-details">
                        <h3 class="discount-name translate">{{ discount.Disc_name }}</h3>
                        <p class="policy-description translate">{{ discount.Policy_desc }}</p>
                        <p class="discount-info">
                           {% if discount.Disc_type == 'Shipping' %}
                              <span class="translate">Max usage:</span> {{ discount.Max_usage }}
                           {% else %}
                              <span class="translate">Valid from:</span> {{ discount.Valid_from }} - <span class="translate">Valid to:</span> {{ discount.Valid_to }}
                           {% endif %}
                        </p>
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div id="used" class="discount-list" style="display: none">
               {% for discount in used %}
                  <div class="discount-item">
                     <div class="discount-value">
                        {{ ((1 - discount.Disc_value | float) * 100) | round(2) }}%
                     </div>
                     <hr>
                     <div class="discount-details">
                        <h3 class="discount-name translate">{{ discount.Disc_name }}</h3>
                        <p class="policy-description translate">{{ discount.Policy_desc }}</p>
                        <p class="discount-info">
                           {% if discount.Disc_type == 'Shipping' %}
                              <span class="translate">Max usage:</span> {{ discount.Max_usage }}
                           {% else %}
                              <span class="translate">Valid from:</span> {{ discount.Valid_from }} - <span class="translate">Valid to:</span> {{ discount.Valid_to }}
                           {% endif %}
                        </p>
                     </div>
                  </div>
               {% endfor %}
            </div>
            <div id="expired" class="discount-list" style="display: none">
               {% for discount in expired %}
                  <div class="discount-item">
                     <div class="discount-value">
                        {{ ((1 - discount.Disc_value | float) * 100) | round(2) }}%
                     </div>
                     <hr>
                     <div class="discount-details">
                        <h3 class="discount-name translate">{{ discount.Disc_name }}</h3>
                        <p class="policy-description translate">{{ discount.Policy_desc }}</p>
                        <p class="discount-info">
                           {% if discount.Disc_type == 'Shipping' %}
                              <span class="translate">Max usage:</span> {{ discount.Max_usage }}
                           {% else %}
                              <span class="translate">Valid from:</span> {{ discount.Valid_from }} - <span class="translate">Valid to:</span> {{ discount.Valid_to }}
                           {% endif %}
                        </p>
                     </div>
                  </div>
               {% endfor %}
            </div>
      </section>
   </div>
</main>
<script src="{{ url_for('static', filename='script/user_discount.js') }}"></script>
{% endblock %}