<link rel="stylesheet" href="{{ url_for('static', filename='style/footer.css') }}">
<footer>
   <img src="https://lh3.googleusercontent.com/d/1MAsxp8dde5_6AffSBvoZIR9wIylHzGos" alt="Bookstore Logo" class="logo">
   <section class="member-name">
      <div class="member">
         <p>楊君威</p>
         <p>111590059</p>
         <p>t111590059@ntut.org.tw</p>
      </div>
      <div class="member">
         <p>陳軒元</p>
         <p>111590058</p>
         <p>t111590058@ntut.org.tw</p>
      </div>
      <div class="member">
         <p>鄭秀心</p>
         <p>111590060</p>
         <p>t111590060@ntut.org.tw</p>
      </div>
      <div class="member">
         <p>黃音慈</p>
         <p>110830009</p>
         <p>t110830009@ntut.org.tw</p>
      </div>
      <div class="member">
         <p>楊建瑋</p>
         <p>111590057</p>
         <p>t111590057@ntut.org.tw</p>
      </div>
      <div class="member">
         <p>李其灝</p>
         <p>111590062</p>
         <p>t111590062@ntut.org.tw</p>
      </div>
   </section>
</footer>