{% extends '/user/base_user.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/home.css') }}">
<main>
   <section class="promotion section-container hidden-animation">
      <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button>
      <div class="promotion-slider">
         <a class="promotion-card">
            <img src="https://lh3.googleusercontent.com/d/1Sy0LmCBzrPcJd_3a6aTLuenGQpxK-xdT">
         </a>
         <a class="promotion-card">
            <img src="https://lh3.googleusercontent.com/d/16ICk1UeOKvs4YuEtjdUeusy6RFasKbLe">
         </a>
      </div>
      <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button>
      <div class="slider-indicators">
         <input type="checkbox" name="slider" checked>
         <input type="checkbox" name="slider">
      </div>
   </section>
   <section class="best-seller section-container hidden-animation">
      <div class="sub-title">
         <hr><h2 class="translate">Best Seller</h2><hr>
      </div>
      <div class="book-slider-container">
         <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button>
         <div class="book-slider">
            {% for book in best_seller %}
            <a class="book-card" href="book/{{ book.PID }}">
               <img src="{{ book.Product_pict }}" alt="{{ book.Name }}">
               <h3 class="translate">{{ book.Name }}</h3>
               <p><strong class="translate">Price:</strong> <span class="book-price">${{ book.Price }}</span></p>
            </a>
            {% endfor %}
         </div>
         <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
   </section>
   <section class="new-release section-container hidden-animation">
      <div class="sub-title">
         <hr><h2 class="translate">New Release</h2><hr>
      </div>
      <div class="book-slider-container">
         <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button>
         <div class="book-slider">
            {% for book in new_release %}
            <a class="book-card" href="book/{{book.PID}}">
               <img src="{{ book.Product_pict }}" alt="{{ book.Name }}">
               <h3 class="translate">{{ book.Name }}</h3>
               <p><strong class="translate">Price:</strong> <span class="book-price">${{ book.Price }}</span></p>
            </a>
            {% endfor %}
         </div>
         <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
   </section>
   <div class="top-5-and-promotion">
      <section class="top-5-category section-container hidden-animation">
         <div class="sub-title">
            <hr><h2 class="translate">Top 5 Category</h2><hr>
         </div>
         <ul class="top-5-container">
            {% for category in top_5_category %}
            <li class="category-card">
               <p>{{ loop.index }}.</p>
               <hr>
               <a class="translate" href="{{ url_for('book_list.category', category_name=category) }}">{{ category }}</a>
            </li>
            {% endfor %}
         </ul>
      </section>
      <section class="promotion section-container hidden-animation">
         <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button>
         <div class="promotion-slider">
            <a class="promotion-card">
               <img src="https://lh3.googleusercontent.com/d/1ZZsuRXTnhIAxJsfZJyQyz6h4naBEBdUq">
            </a>
            <a class="promotion-card">
               <img src="https://lh3.googleusercontent.com/d/14t6VWnX9m1RnOgRZEnJKvew4n2gd08jk">
            </a>
         </div>
         <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button>
         <div class="slider-indicators">
            <input type="checkbox" name="slider" checked>
            <input type="checkbox" name="slider">
         </div>
      </section>
   </div>
   <section class="trending section-container hidden-animation">
      <div class="sub-title">
         <hr><h2 class="translate">Most Rated</h2><hr>
      </div>
      <div class="book-slider-container">
         <button class="arrow left-arrow"><i class="fa-solid fa-chevron-left"></i></button>
         <div class="book-slider">
            {% for book in top_rated %}
            <a class="book-card" href="book/{{book.Product.PID}}">
               <img src="{{ book[0].Product_pict }}" alt="{{ book.Product.Name }}">
               <h3 class="translate">{{ book.Product.Name }}</h3>
               <p>
                  <strong class="translate">Rate: </strong>
                  <span class="book-rate">
                     <br>
                     {% for i in range(5) %}
                        {% if i < book.Rate %}
                           <i class="fa-solid fa-star yellow"></i>
                        {% else %}
                           <i class="fa-solid fa-star gray"></i>
                        {% endif %}
                     {% endfor %}
                  </span>
               </p>
               <p><strong class="translate">Price:</strong> <span class="book-price">${{ book.Product.Price }}</span></p>
            </a>
            {% endfor %}
         </div>
         <button class="arrow right-arrow"><i class="fa-solid fa-chevron-right"></i></button>
      </div>
   </section>
</main>
<script src="{{ url_for('static', filename='script/home.js') }}"></script>
{% endblock %}