{% extends '/user/base_user.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/product.css') }}">

<main>
   <div class="product-container">
      <img class="product-image" src="{{ product.Product_pict }}" alt="{{ product.Name }}">

      <div class="product-details">
         <h1 class="product-title translate">{{ product.Name }}</h1>
         <p class="product-author"><span class="translate">by</span> {{ product.Author }}</p>
         <p class="product-price">${{ product.Price }}</p>

         <div class="product-meta">
            <div><strong class="translate">Category:</strong> <span id="category" class="translate">{{ product.Category }}</span></div><br>
            <div><strong class="translate">Stock Quantity:</strong> <span id="stock">{{ product.Stock_quantity }}</span></div><br>
            <div><strong class="translate">Sales Count:</strong> <span id="sales">{{ product.Sale_count }}</span></div>
         </div>

         <p class="product-description translate">{{ product.Desc }}</p>

         <div class="actions">
            <button class="add-to-cart translate" onclick="addToCart()">Add to Cart</button>
            <button class="buy-now translate" onclick="buyNow()">Buy Now</button>
         </div>
         </div>
   </div>

   <div class="reviews">
      <h2 class="translate">Customer Reviews</h2>
      {% if reviews|length > 0 %}
         {% for review in reviews %}
            <div class="rev-box">
               <div class="rev-title">
                  <!-- name -->
                  <div class="rev-name">
                     <span>{{review.FName}}</span>
                     {% if review.LName %}
                        <span>{{review.LName}}</span>
                     {% endif %}
                  </div>
                  <!-- rate -->
                  {% for i in range(5) %}
                     {% if review.Rate and i < review.Rate %}
                        <i class="fa-solid fa-star yellow"></i>
                     {% else %}
                        <i class="fa-solid fa-star gray"></i>
                     {% endif %}
                  {% endfor %}
                  <!-- time -->
               </div>
               <span class="rev-time">{{review.Time}}</span>
               <div class="rev-text">
                  <span>{{review.Text}}</span>
               </div>
            </div>
            {% if loop.index < reviews|length %}
               <hr>
            {% endif %}
         {% endfor %}
      {% else %}
         <div class="no-review">
            <span class="translate">No reviews yet ! Be the first to share your thoughts</span>
            <i class="fa-regular fa-face-smile"></i>
         </div>
      {% endif %}
   </div>
</main>

<div class="nothing2"></div>

{% endblock %}