

{% extends '/user/base_user.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user_profile_order_history_detail.css') }}">

<main class="user_profile_order_history_detail">
    <div class="navbar-detail-container">
        <div class="order-detail-left">
            <!-- status -->
            <div>
                <div class="box-title">Order Status</div>
                <div class="od-left-box">
                    <div class="od-status-icon">
                        <div class="od-circle"></div>
                        <span class="od-status-word">{{order.Status}}</span>
                    </div>
                </div>
            </div>
            
            <!-- customer info -->
            <div>
                <div class="box-title">Customer Information</div>
                <div class="od-left-box">
                    <div>
                        <div class="od-status-icon">
                            <div class="od-circle"></div>
                            <span class="od-cus-word">Customer Info</span>
                        </div>
                        <div class="cus-info-list">
                            <div class="cus-info-item">
                                <span>Customer Name</span>
                            </div>
                            
                            <div class="cus-info-item">
                                <span>
                                    {% if customer.L_name %}
                                        {{ customer.L_name }} {{ customer.F_name }}
                                    {% else %}
                                        {{ customer.F_name }}
                                    {% endif %}
                                </span>
                            </div>

                        </div>
                        <div class="cus-info-list">
                            <div class="cus-info-item">
                                <span>Order Time</span>
                            </div>
                            
                            <div class="cus-info-item">
                                <span>{{order.Time}}</span>
                            </div>
                        </div>
                        <div class="cus-info-list">
                            <div class="cus-info-item">
                                <span>Payment Method</span>
                            </div>
                            
                            <div class="cus-info-item">
                                <span>{{order.Pay_method}}</span>
                            </div>
                        </div>


                    </div>

                    <div>
                        <div class="od-status-icon">
                            <div class="od-circle"></div>
                            <span class="od-cus-word">Ordered ID</span>
                        </div>

                        <div class="cus-info-list">
                            <div class="cus-info-item">
                                <span>{{order.OID}}</span>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <div class="od-status-icon">
                            <div class="od-circle"></div>
                            <span class="od-cus-word">Address</span>
                        </div>

                        <div class="cus-info-list">
                            <div class="cus-info-item">
                                <span>{{order.Ship_address}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- order product -->
            <div>
                <div class="box-title">Order Information</div>
                <div class="od-left-box">

                    <!-- product and payment -->
                    <div class="order-info-box">

                        <!-- product -->
                        <div class="box-in-info">
                            <div class="prt-header"><!-- header -->
                                <div class="prt-no">No.</div>
                                <div class="prt-product">Product</div>
                                <div class="prt-price">Price</div>
                                <div class="prt-qty">Quantity</div>
                                <div class="prt-subtotal">Subtotal</div>
                            </div>

                            <div class="prt-box"><!-- product -->
                                {% for detail in item_details %}
                                    <div class="prt-product-row"><!-- product row-->
                                        <div class="prt-no">{{loop.index}}</div>
                                        <div class="prt-product-item"><!--product item info-->
                                            <img class="product-image" src="{{ detail.product.Product_pict }}" alt="{{ detail.product.Name }}">
                                            <div class="prt-detail">
                                                <div class="prt-detail-word">{{detail.product.Name}} </div>
                                                <div class="prt-detail-word">{{detail.product.Author}}</div>
                                            </div>
                                        </div>
                                        <div class="receipt-container">
                                        <div class="prt-price">  ${{ detail.prt_price }}</div>
                                        <div class="prt-qty">{{ detail.line.Quantity }}</div>
                                        <div class="prt-subtotal">  ${{ detail.subtotal }}</div>
                                        </div>
                                        <div class="buy-again-btn-container"><a href="/book/{{ detail.product.PID }}"class="buy-again-btn">Buy Again</a></div>
                                    </div>

                                    <!--review row-->
                                    <div class ="book-review">
                                        <input type="hidden" name="product_id" value="{{ detail.product.PID }}"  data-book-id="{{ detail.product.PID }}">
                                        
                                        <div class="prt-review-product-row">
                                            <div class="prt-review-title">
                                                <span>Review</span>
                                            </div>
                                            <div class="prt-review-start">
                                                <p>
                                                    <span class="book-rate">
                                                    <br>
                                                            <i class="fa-solid fa-star gray" data-value="1"></i>
                                                            <i class="fa-solid fa-star gray" data-value="2"></i>
                                                            <i class="fa-solid fa-star gray" data-value="3"></i>
                                                            <i class="fa-solid fa-star gray" data-value="4"></i>
                                                            <i class="fa-solid fa-star gray" data-value="5"></i>
                                                            <input type="hidden" value="0" id="ratingStarInput_{{ detail.product.PID }}" name="ratingStarInput"  class="book-rate-input"> 
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="prt-review-text">
                                                <input class="book-review-input" placeholder="Enter review product" id="reviewTextInput_{{ detail.product.PID }}" name ='reviewTextInput'></input>
                                                
                                                <input type="hidden" id="customerID_{{ detail.customer.MID }}" name ='reviewTextInput'></input>
                                            </div>
                                            <div class="prt-review-submit">
                                                <a href="#" class="submit-review-btn" type="submit" data-form-id="{{ detail.product.PID }}" data-customer-id="{{ detail.customer.MID }}">Submit</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% if loop.index < item_details|length %}
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        
                        <!-- payment -->
                        <div class="box-in-info">
                            <div class="payment-box">
                                <div class="payment-row">
                                    <div class="payment-word">Order Total</div>
                                    <div class="payment-price">${{ total_price }}</div>
                                </div>
                                <div class="payment-row">
                                    <div class="payment-word">Shipping Price</div>
                                    <div class="payment-price">${{ shp_fee }}</div>
                                </div>
                                <div class="payment-row">
                                    <div class="payment-word">Total Price</div>
                                    <div class="payment-price payment-total-price">${{ order_total }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="order-status-history" class="order-detail-right">
            <div class="status-history-word">Status History</div>
            {% for step in steps %}
                <div class="step {% if order.Status in step.completed_statuses %}completed{% endif %}" data-status="{{ step.status }}">
                    <div class="icon {% if order.Status in step.completed_statuses %}completed-icon{% endif %}"></div>
                    <div class="status-text">{{ step.text }}</div>
                </div>
                {% if loop.index < steps|length %}
                    <div class="status-line {% if order.Status in step.line_completed_statuses %}completed{% endif %}"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Back-Button -->
    <div class="navbar-pre-detail">
        <a href="/user/profile/order_history" target="_self" class="pre-detail-button">
            <div class="pre-detail-word">Back</div>
        </a>
    </div>
</main>
<script src="{{ url_for('static', filename='script/user_profile_order_history_detail.js') }}"></script>
{% endblock %}
