{% extends '/user/base_user.html' %}

{% block content %}
<main class="user_profile_change_password">
   {% include "/user/user_profile_menu.html" %}
   <form class="section-container" method="POST" action="{{ url_for('user_profile.change_password') }}">
      <div class="sub-title">
         <hr><h2>Change Password</h2><hr>
      </div>
         <table class="change-password-container">
            <tr class="profile-item">
               <td class="change-password-label">Current Password</td>
               <td class="change-password-value">
                  <input type="password" name="currentPassword" id="currentPassword" class="profile-input current-password" required>
               </td>
            </tr>
            <tr class="profile-item">
               <td class="change-password-label">New Password</td>
               <td class="change-password-value">
                  <input type="password" name="newPassword" id="newPassword" class="profile-input new-password"  required>
               </td>
            </tr>
            <tr class="profile-item">
               <td class="change-password-label">Confirm Password</td>
               <td class="change-password-value">
                  <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="profile-input confirm new-password" required>
               </td>
            </tr>
            <input type="hidden" id="old-password" value="{{ old_password }}">
            <div class="change-password-error-message" > </div>
         </table>
      <div class="submit-and-cancel-change-password-button">
      <a class="cancel-button change-password-button" href="{{ url_for('user_profile.change_password') }}">Cancel</a>
      <button type="submit" id="submitButton" disabled class="submit-button change-password-button">Save</button>
      </div>
   </form>


</main>
{% endblock %}