{% extends '/user/base_user.html' %}

{% block content %}
<main class="user_profile_credit_card_page">
   {% include "/user/user_profile_menu.html" %}
   <div class="section-container">
      <div class="sub-title">
         <hr><h2>My Card</h2><hr>
      </div>
      <section class="profile-container">
         {% for card in credit_cards %}
         <div class="card-container">
            <div class="card-image">
               <div class="currency">$</div>
               <div class="chip">_</div>
               <div class="lines">
                  <div class="line">_</div>
                  <div class="line">_</div>
                  <div class="line">_</div>
                  <div class="line">_</div>
               </div>
            </div>
            <div class="card-center">
               <p>{{ card.Issuer }}</p>
               <p class="card-number">{{ card.Number }}</p>
            </div>
            <div class="card-right">
               <p class="card-type">{{ card.Brand }}</p>
               <i class="fa-solid fa-circle-xmark" data-card-number="{{ card.Number }}"></i>
            </div>
         </div>
         {% endfor %}
      </section>
      <button class="add-card" id="add-card">Add new card</button>
      <a href="{{ url_for('user_profile.credit_card') }}" class="cancel-edit">Cancel</a>
   </div>
   <div class="credit-card-modal-container credit-card-hidden">
      <form class="modal-content" method="POST" action="{{ url_for('user_profile.credit_card_add') }}">
         <div class="sub-title">
            <hr><h2>New Card</h2><hr>
         </div>
         <p class="error-message"></p>
         <div class="form-group">
            <label for="card-number">Card Number</label>
            <input type="text" name="Number" id="card-number" class="profile-input" required>
            <div class="form-group-inline">
               <div>
                  <label for="card-expiry">Expiry Date (MM/YY)</label>
                  <input type="text" name="Expiry" id="card-expiry" class="profile-input" maxlength="5" required>
               </div>
               <div>
                  <label for="card-cvc">CVV</label>
                  <input type="text" name="CVV" id="card-cvv" class="profile-input" required>
               </div>
            </div>
         </div>
         <div class="modal-button">
            <input type="submit" id="confirm-edit" class="modal-btn" value="Save"></input>
            <div id="cancel-edit" class="modal-btn cancel-edit">Cancel</div>
         </div>
      </form>
   </div>
   <form method="POST" class="delete-card-container credit-card-hidden" action="{{ url_for('user_profile.credit_card_delete') }}">
      <div class="modal-content">
         <p>Are you sure you want to delete this card?</p>
         <input type="hidden" name="Number" id="delete-card-number">
         <div class="modal-button">
            <input type="submit" id="confirm-delete" class="modal-btn" value="Yes"></input>
            <div id="cancel-delete" class="modal-btn cancel-edit">Cancel</div>
         </div>
      </div>
   </form>
</main>
{% endblock %}