{% extends '/user/base_user.html' %}

{% block content %}
<main class="user_profile_edit">
   {% include "/user/user_profile_menu.html" %}
   <form class="section-container" method="POST" action="{{ url_for('user_profile.edit') }}">
      <div class="sub-title">
         <hr><h2>My Profile</h2><hr>
      </div>
      <table class="profile-container">
         <tr class="profile-item">
            <td class="profile-label">Name</td>
            <td class="profile-value">
               <input type="text" name="F_name" id="F_name" class="profile-input" value="{{ user.F_name }}" placeholder="First Name">
               <input type="text" name="L_name" id="L_name" class="profile-input" value="{{ user.L_name if user.L_name else '' }}" placeholder="Last Name">
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label">Birth</td>
            <td class="profile-value">
               <input type="text" name="Birth" id="Birth" class="profile-input birth" value="{{ user.Birth.strftime('%Y-%m-%d') if user.Birth else '' }}">
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label">Gender</td>
            <td class="profile-value">
               <input type="text" class="profile-input" id="selected-gender" value="{{ user.Gender }}" readonly></input>
               <div class="dropdown-options">
                  <div class="dropdown-option" data-value="Male">Male</div>
                  <div class="dropdown-option" data-value="Female">Female</div>
                  <div class="dropdown-option" data-value="Other">Other</div>
               </div>
               <input type="hidden" class="profile-input" name="Gender" id="selected-gender-hidden" value="{{ user.Gender }}"></input>
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label">Email</td>
            <td class="profile-value">
               <input type="email" name="Email" id="email-value" class="profile-input" value="{{ user.Email }}" data-original="{{ user.Email }}">
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label">Phone</td>
            <td class="profile-value">
               <input type="tel" name="Phone" id="phone-value" class="profile-input" value="{{ user.Phone }}" data-original="{{ user.Phone }}">
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label">Address</td>
            <td class="profile-value">
               <input type="text" name="Address" id="Address" class="profile-input" value="{{ user.Address if user.Address else '' }}" placeholder="Your Address">
            </td>
         </tr>
         <tr class="profile-item">
            <td class="profile-label"></td>
            <td class="profile-value">
            </td>
         </tr>
      </table>
      <input type="submit" class="edit-profile" href="{{ url_for('user_profile.index') }}" value="Save"></input>
      <a href="{{ url_for('user_profile.index') }}" class="cancel-edit">Cancel</a>
   </form>
</main>
{% endblock %}