{% extends '/user/base_user.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user_profile.css') }}">
<main>
   {% include "/user/user_profile_menu.html" %}
   <div class="section-container">
      <div class="sub-title">
         <hr><h2>My Credit Card</h2><hr>
      </div>
      <table class="profile-container">
         {% for card in credit_cards %}
         <tr class="card-container">
            <td class="profile-value">{{ card.Number }}</td>
            <td class="profile-value">{{ card.Issuer }}</td>
            <td class="profile-value">{{ card.Brand }}</td>
         </tr>
         {% endfor %}
      </table>
      <a class="edit-profile" href="{{ url_for('user_profile.edit') }}">Edit</a>
   </div>
</main>
<script src="{{ url_for('static', filename='script/user_profile.js') }}"></script>
{% endblock %}