{% extends '/user/base_user.html' %}
{% block content %}
<main class="user_profile_order_history">
    {% include "/user/user_profile_menu.html" %}
     <div class="order-section-container">
          <!-- Subtab -->
          <section class="order-header">
                <a href="/user/profile/order_history" class="header-title translate {% if active_route == 'order_history' %}checked{% endif %}">Total Order</a><hr>
                <a href="/user/profile/order_history/processing" class="header-title translate {% if active_route == 'processing' %}checked{% endif %}">Processing</a><hr>
                <a href="/user/profile/order_history/shipping" class="header-title translate {% if active_route == 'shipping' %}checked{% endif %}">Shipping</a><hr>
                <a href="/user/profile/order_history/received" class="header-title translate {% if active_route == 'received' %}checked{% endif %}">Received</a><hr>
                <a href="/user/profile/order_history/closed" class="header-title translate {% if active_route == 'closed' %}checked{% endif %}">Closed</a>
          </section>
          
          <form class="order-form-container hidden-animation" method="POST" action="{{ url_for('user_profile.order') }}">
                <div class="sub-title">
                     <hr><h2 class="translate">Order History</h2><hr>
                </div>
                <div class="order-history-table-container">
                     <div class="scrollable-box">
                          {% if all_items|length == 0 %}
                                <div class="no-result translate">No Result !</div>
                          {% else %}
                                {% for order in all_items %}
                                     <div class="list-header">
                                          <div class="header-list-oid">
                                                <span><span class="translate">Order ID :</span> {{order[0]['OID']}}</span>
                                          </div>
                                     </div>
                                     <a href="{{url_for('user_profile.order_detail', order_id=order[0]['OID'])}}">
                                          <div class="content-list">
                                                {% for item in order %}
                                                     <div class="order-list-box">
                                                          <div class="order-detail-pic">
                                                                <img src="{{ item.Product_pict }}" alt="{{ hi }}" class="product-pic">
                                                          </div>
                                                          <div class="order-detail-name">
                                                                <h4 class="translate">{{item.Name}}</h4>
                                                          </div>
                                                          <div class="order-detail-text">
                                                                <h4>{{item.Quantity}}</h4>
                                                          </div>
                                                          <div class="order-detail-text">
                                                                <h4>${{item.Sum}}</h4>
                                                          </div>
                                                          <div class="order-detail-text">
                                                                <h4 class="translate">{{item.Status}}</h4>
                                                          </div>
                                                     </div>
                                                     {% if loop.index < order|length %}
                                                          <hr>
                                                     {% endif %}
                                                {% endfor %}
                                          </div>
                                     </a>
                                {% endfor %}
                          {% endif %}
                     </div>
                </div>
          </form>
     </div>
</main>
{% endblock %}