{% extends '/admin/base_admin.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin_users_list.css') }}">

<main>
    <div class="navbar-order-container">
        <div class="left">
            <div class="bar-title">Admin Menu</div>
            <div class="bar-list">
                <!-- order -->
                <a href="/admin/finance" target="_self" id="bar-order" class="bar-row">
                    <span class="bar-center">Finance</span>
                </a>
                <hr>
                <a href="/admin/users" target="_self" id="bar-product" class="bar-row">
                    <span class="bar-center">User Management</span>
                </a>
                <hr>
                <a href="/staff/order" target="_self" id="bar-discount" class="bar-row">
                    <span class="bar-center">Staff Centre</span>
                </a>
            </div>
        </div>
        <div class="right">
            <div class="list-subtabs">
                <a href="/admin/users" class="subtab {% if active_route == 'users' %}active{% else %}inactive{% endif %}">All</a>
                <a href="/admin/users/customer" class="subtab {% if active_route == 'customer' %}active{% else %}inactive{% endif %}">User</a>
                <a href="/admin/users/staff" class="subtab {% if active_route == 'staff' %}active{% else %}inactive{% endif %}">Staff</a>
            </div>
            <hr>
            <div class="filter-box">
                <form action="{{ url_for('admin.filter_by', current_path=request.path.replace('/findUser', ''))}}" method="POST" class="filter">
                    <div class="search-filter">
                        <div class="selected-filter" name="filter_field">
                            <span id="selectedText">Member ID</span>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <div class="option" id="dropdown">
                            <div class="option-filter" name="filter_field" style="display: none;">
                                <p value="member_id" onclick="selectOption('Member ID')" {% if filter_field == 'member_id' %}selected{% endif %}>Member ID</p>
                                <p value="member_name" onclick="selectOption('Member Name')" {% if filter_field == 'member_name' %}selected{% endif %}>Name</p>
                                <p value="member_email" onclick="selectOption('Member Email')" {% if filter_field == 'member_email' %}selected{% endif %}>Email</p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="filter_field" name="filter_field" value="memberID">
                    <input type="text" id="user_input" name="user_input" value="{{ user_input }}" class ="filter-input"></input>
                    <button class="apply-button" type="submit">Apply</button>
                </form>
            </div>
            
            <div class="header-box">
                    <div class="discount-header">Member ID</div>
                    <div class="discount-header">Name</div>
                    <div class="discount-header">Gender</div>
                    <div class="discount-header">Email</div>
                    <div class="discount-header">Role</div>
            </div>
            <div class="scrollable-box">
                {% if users|length == 0 %}
                    <div class="no-result">No Result !</div>
                {% else %}
                    {% for user in users %}
                        
                        <a href="{{url_for('admin.manage_users')}}">
                            <div class="content-list">
                                    <div class="list-box">
                                        <div class="detail-text">
                                            {{user.MID}}
                                        </div>
                                        <div class="detail-text">
                                            {{user.F_name}} {{user.L_name if user.L_name else ''}}
                                        </div>
                                        <div class="detail-text">
                                            {{user.Gender}}
                                        </div>
                                        <div class="detail-text">
                                            {{user.Email}}
                                        </div>
                                        <div class="detail-text">
                                            {{user.user_role}}
                                        </div>
                                    </div>
                            </div>
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='script/admin_user.js') }}"></script>
</main>
{% endblock %}