<link rel="stylesheet" href="{{ url_for('static', filename='style/admin_menu.css') }}">
<div class="left">
   <div class="bar-title">Admin Menu</div>
   <div class="bar-list">
      <a href="/admin/finance" target="_self" id="bar-order" class="bar-row">
         <span class="bar-center">Finance</span>
      </a>
      <hr>
      <a href="/admin/users" target="_self" id="bar-product" class="bar-row">
         <span class="bar-center">User Management</span>
      </a>
      <hr>
      <a href="/staff/order" target="_self" id="bar-discount" class="bar-row">
         <span class="bar-center">Staff Centre</span>
      </a>
   </div>
</div>