<link rel="stylesheet" href="{{ url_for('static', filename='style/header_staff.css') }}">
<header>
    <nav class="navbar-container">
        <section class="navbar-top">

            <div class="pic-and-center">
                <a class="navbar-logo" href="/">
                    <img src="{{ url_for('static', filename='image/logo.png') }}" alt="Bookstore Logo" class="logo">
                </a>
    
                <div class="navbar-center">
                    <a href="#" class="center-name">
                        <p>Admin Centre</p>
                    </a>
                </div>
            </div>
            <div class="navbar-icons">
                <a href="{{ url_for('user_profile.index') }}" class="icon-name">
                    <i class="fa-regular fa-circle-user"></i><p>Profile</p>
                </a>
            </div>
        </section>
    </nav>
</header>
<script src="{{ url_for('static', filename='script/header.js') }}"></script>