@font-face {
   font-family: Nunito;
   src: url(nunito/Nunito-SemiBold.ttf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Nunito;
   scroll-behavior: smooth;
}
body {
   background-color: #FFF8E1; 
   overflow-x: hidden;
}
.hidden-animation {
   opacity: 0;
   filter: blur(5px);
   transform: translateY(20px);
   transition: all 0.4s;
}
.show-animation {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}