@font-face {
   font-family: Nunito;
   src: url(nunito/Nunito-SemiBold.ttf);
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Nunito;
   scroll-behavior: smooth;
}
body {
   background-color: #FFF8E1; 
   overflow-x: hidden;
}
.hidden-animation {
   opacity: 0;
   filter: blur(5px);
   transform: translateY(30%);
   transition: all 0.5s;
}
.show-animation {
   opacity: 1;
   filter: blur(0);
   transform: translateY(0);
}
.show-up-animation{
   z-index: 1000;
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: #112d4e;
}
.fill-up-animation {
   z-index: 1000;
   position: fixed;
   width: 100%;
   height: 0%;
   bottom: 0;
   left: 0;
   background-color: #112d4e;
}
@keyframes showup{
   0% {
      transform: translateY(0px);
      border-radius: 0%;
   } 
   99% {
      transform: translateY(-100%);
      border-radius: 0px 0px 100% 100%;
   }
   100% {
      transform: translateY(-100%);
      border-radius: 0;
   }
}
@keyframes fillup {
   0% {
      height: 0%;
      border-radius: 100% 100% 0px 0px;
   }
   100% {
      height: 100%;
      border-radius: 0px;
   }
}