footer{
   background-color: #47617f;
   width: 100%;
   margin-top: 30px;
   padding: 10px 50px;
   color: #fff;
}
.logo {
   height: 60px;
   margin-bottom: 15px;
}

.member-name {
   display: flex; 
   flex-wrap: wrap;
   justify-content: center;
}

.member {
   padding: 10px 15px;
   transition: 0.3s all;
}

.member:hover {
   transform: translateY(-5px); /* Hover effect */
}

.member p {
   margin: 5px 0;
   font-size: 14px;
   line-height: 1.5;
}
@media screen and (max-width: 900px) {
   footer{
      margin-bottom: 50px;
   }
}
@media screen and (max-width: 600px) {
   .logo {
      height: 40px;
   }
   footer{
      padding: 10px 20px;
   }
   .member p {
      font-size: 11px;
   }
}
@media screen and (max-width: 400px) {
   footer{
      padding: 10px;
   }
   .member p {
      font-size: 8px;
   }
}