.sub-title{
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin: 10px;
}
.sub-title hr{
   width: 42%;
   border: #000;
   margin: 10px;
   height: 3px;
   background-color: #eaddd7;
   color: #eaddd7;
}
.sub-title h2{
   width: 16%;
   font-size: 16px;
}
.section-container{
   margin-bottom: 30px;
   margin-left: 150px;
   margin-right: 150px;
   background-color: #f9f7f7;
   border: 2px solid #d9d9d9;
   border-radius: 5px;
}
.book-slider-container {
   position: relative;
   display: flex;
   padding: 0px 20px;
   padding-bottom: 10px;
   align-items: center;
   justify-content: center;
}
.arrow {
   background: #fff;
   border: 3px solid #c6c6c6;
   color: #c8c8c8;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-20px);
   z-index: 10;
   position: absolute;
   cursor: pointer;
}
.arrow i{
   font-size: 24px;
   padding: 8px 13px;
}
.left-arrow {
   left: 10px;
}
.right-arrow {
   right: 10px;
}
.arrow:hover{
   background: #cbcbcb;
   color: #fff;
   transition: all 0.5s;
}
.book-slider{
   display: flex;
   overflow-x: auto;
   width: 92%;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
   scroll-padding: 7px;
}
.book-slider::-webkit-scrollbar {
   height: 8px;
}
.book-slider::-webkit-scrollbar-track {
   background: none;
   border-radius: 10px;
}
.book-slider::-webkit-scrollbar-thumb {
   background: #c1c1c1;
   border-radius: 10px;
}
.book-slider::-webkit-scrollbar-thumb:hover {
   cursor: pointer;
   background: #a7a7a7;
   transition: all 0.5s;
}
.book-slider::-webkit-scrollbar-button {
   display: none;
}
.book-card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background: #fff;
   border: 1px solid #ddd;
   border-radius: 5px;
   padding: 20px;
   margin: 7px;
   margin-top: 15px;
   text-decoration: none;
   color: #000;
   scroll-snap-align: start;
   transition: 0.3s all;
}
.book-card:hover {
   transform: translateY(-10px);
   box-shadow: 0px 2px 5px 5px #00000020;
}
.book-card img {
   min-width: 150px;
   max-width: 151px;
   max-height: 210px;
   object-fit: cover;
   pointer-events: none;
   border-radius: 3px;
   border: 1px solid #000;
}
.book-card h3 {
   max-width: 200px;
   margin-top: 10px;
   font-size: 14px;
   flex-grow: 2;
}
.book-card p {
   text-align: left;
   margin-top: 5px;
   font-size: 14px;
}
.book-rate .yellow{
   color: #ffc400;
}
.book-rate .gray{
   color: #9a9a9a;
}
.book-price {
   color: green;
}
.promotion{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}
.promotion-slider{
   display: flex;
   overflow-x: auto;
   width: 98%;
   scroll-behavior: smooth;
   scroll-snap-type: x mandatory;
}
.promotion-card{
   flex: 0 0 100%;
   max-width: 100%;
   scroll-snap-align: start;
   display: flex;
   align-items: center;
}
.promotion-card img{
   width: 100%;
   pointer-events: none;
   border-radius: 5px;
}
.promotion-slider {
   -ms-overflow-style: none;
   scrollbar-width: none;
}
.promotion-slider::-webkit-scrollbar {
   display: none;
}
.slider-indicators {
   position: absolute;
   bottom: 30px;
   display: flex;
   justify-content: center;
   margin-top: 10px;
   gap: 10px;
}

.slider-indicators input {
   appearance: none;
   width: 10px;
   height: 10px;
   border: 2px solid #ccc;
   border-radius: 50%;
   background: #fff;
   cursor: pointer;
   transition: all 0.3s;
}
.slider-indicators input:checked {
   background: #333;
   transform: scale(1.2);
}
.top-5-and-promotion{
   display: flex;
   justify-content: space-between;
   margin-bottom: 30px;
   margin-left: 150px;
   margin-right: 150px;
}
.top-5-category{
   width: 100%;
   margin: 0;
   margin-right: 10px;
}
.top-5-and-promotion .promotion{
   margin: 0;
   margin-left: 10px;
}
.top-5-container{
   height: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.category-card{
   display: flex;
   margin-left: 20px;
   font-size: 18px;
}
.category-card a{
   text-decoration: none;
   color: #000;
   transition: all 0.3s;
}
.category-card a:hover {
   transform: scale(1.2) translateX(10%);
   text-shadow: 2px 2px 5px #00000050;
}
.category-card hr{
   margin: 0px 10px;
   width: 3px;
   border: #000;
   background-color: #eaddd7;
   color: #eaddd7;
}
@media screen and (max-width: 1000px) {
   .sub-title h2, .book-card div{
      font-size: 13px;
   }
   .book-card img {
      min-width: 130px;
      height: 180px;
   }
   .book-slider{
      width: 90%;
   }
   .arrow i{
      font-size: 20px;
      padding: 6px 11px;
   }
   .section-container{
      margin-left: 70px;
      margin-right: 70px;
      margin-bottom: 0;
      margin-top: 20px;
   }
   .top-5-and-promotion{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      margin-left: 70px;
      margin-right: 70px;
   }
   .top-5-category{
      width: 100%;
      margin: 0;
      margin-right: 10px;
   }
   .top-5-and-promotion .promotion{
      width: 100%;
      margin: 0;
      margin-left: 10px;
   }
   .category-card{
      font-size: 16px;
   }
}
@media screen and (max-width: 800px) {
   .section-container{
      margin-left: 40px;
      margin-right: 40px;
   }
   .top-5-and-promotion{
      display: block;
      margin-left: 40px;
      margin-right: 40px;
   }
   .top-5-category{
      width: 100%;
      margin: 0;
      margin-top: 20px;
   }
   .top-5-and-promotion .promotion{
      width: 100%;
      margin: 0;
      margin-top: 20px;
   }
   .category-card{
      margin-bottom: 10px;
   }
}
@media screen and (max-width: 600px) {
   .sub-title h2, .book-card h3, .book-card p, .book-card div, .category-card p, .book-price{
      font-size: 12px;
   }
   .book-card img {
      min-width: 90px;
      height: 130px;
   }
   .book-slider{
      width: 90%;
   }
   .section-container{
      margin-left: 40px;
      margin-right: 40px;
   }
   .top-5-and-promotion{
      display: block;
      margin-left: 40px;
      margin-right: 40px;
   }
   .top-5-category{
      width: 100%;
      margin: 0;
      margin-top: 20px;
   }
   .top-5-and-promotion .promotion{
      width: 100%;
      margin: 0;
      margin-top: 20px;
   }
}