.navbar-detail-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
    max-width: 100%;
    padding: 20px;
    background-color: #fdf5d6; 
 }
.left{
    flex: 0 0 10%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.right{
    flex: 1;
    padding: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}