.navbar-order-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    gap: 20px; 
    max-width: 100%;
    padding: 20px;
    background-color: #fdf5d6; 
 }
.left{
    flex: 0 0 10%;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.right{
    flex: 1;
    padding: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}
.bar-title{
    height: 52px;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #102d4d;
    color: #fff;
}
.bar-list{
    position: relative;
    display: flex;
    height: 200px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    padding: 0;
    color: #000;
    border: 1px solid #917E57;
    background-color: #fff;
}
.bar-list>.bar-row{
    height: inherit;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bar-list .bar-row{
    margin: 0;
    width: 100%;
    padding: 0;
}

.bar-list hr{
    width: 90%;
    border-color: #000;
    background-color: #102d4d;
    border: none;
    height: 5px;
}
.bar-row{
    --bs-gutter-y: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    
}

.bar-row:hover{
    background-color: #afc7e5;
    transition: all 0.3s;
}
.bar-row:active{
    background-color: #8ea4c0;
    transition: all 0s; 
}
.bar-center{
    width: 100%;
    padding: .25rem 1rem;
    display: flex;
    justify-content: center;
    font-size: .75rem;
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    text-decoration-line: none;
}


.bar-list .bar-row:first-child .bar-center{
    margin-top: 0;
    text-overflow: clip;
}

a{
    text-decoration: none;
    background-color: transparent;
}

.bar-center a{
    font-size: 15px;
    align-items: center;
    justify-content: center;
    line-height: 1.25rem;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 500;
    color: #333;
}

@media (max-width: 900) {
    .navbar-order-container {
        flex-direction: column; /* Stacks the boxes vertically */
    }

    .left, .right {
        flex: 1; /* Both boxes take full width */
    }
}
